.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
  align-items: center;
}


.close {
  color: black;
  float: left;
  font-size: 28px;
  font-weight: bold;
  margin-left: 250px; /* Verplaats de close-knop meer naar links */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
