.modal {
  display: none;
  position: fixed;
  z-index: 1100; /* Verlaag de z-index van de modal */
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);

}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid black;
  width: 40%; /* Pas de breedte van de modale inhoud aan */
  height: 60%;
  align-items: center;
}

.close {
  color: black;
  float: left;
  font-size: 28px;
  font-weight: bold;
  padding-left: 350px;
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .modal-content {
    width: 95%; /* Maak de breedte 95% van de beschikbare viewport breedte op mobiele apparaten */
    max-width: none; /* Verwijder de maximale breedte op mobiele apparaten */
    height: 80%;
  }
  .close {
    color: black;
    float: left;
    font-size: 28px;
    font-weight: bold;
    padding-left: 350px;
  }
  
}