.navbar {
    background-color: #FF2D00;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
  }
  
  .navbar ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
  }

/* Stijlen voor de kaartcontainer */
#location-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Stijlen voor de kaart */
.location-card {
  width: calc(33.33% - 20px);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

/* Stijlen voor de inhoud van de locatiekaart */
.location-card-content {
  text-align: center;
}

/* Media query voor responsieve opmaak */
@media screen and (max-width: 768px) {
  #location-card-container {
      flex-direction: column;
      align-items: center;
  }

  .location-card {
    margin-top: 10px;  
    width: 90%; 
      margin-bottom: 20px;
  }
}

.location-card img {
  max-width: 100%; /* Afbeelding wordt geschaald om binnen de container te passen */
  max-height: 200px; /* Optioneel: beperk de maximale hoogte van de afbeelding */
  margin-bottom: 10px; /* Optioneel: voeg wat ruimte toe onder de afbeelding */
}

.location-card button {
  background-color: #ff0000; /* Rode achtergrondkleur */
  color: #ffffff; /* Witte tekstkleur */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.location-card button:hover {
  background-color: #cc0000; /* Donkerder rode kleur wanneer de knop wordt gehoverd */
}

footer {
  max-height: auto;
  text-align: center;
  padding: 3px;
  background-color: #FF2D00;
  color: white;
}