/* Tweak to change the look and feel */
:root {
  --button-background: #ccc;
  --button-color: white;
  
  --dropdown-highlight: #ccc;
  --dropdown-width: 160px;
  --dropdown-background: white;
  --dropdown-color: black;
  --dropdown-item-height: 50px; /* Nieuwe variabele voor de hoogte van de lijstitems */
}

/* Center the planet */
body {
  display: grid;
  grid-template-areas:
    "header"
    "dropdown";
  margin: 0;
  background-image: url("./assets/toren.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* Dropdown styles */
.dropdown {
  grid-area: dropdown;
  bottom: 80px;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-top: 2px solid black; /* Toevoegen van zwarte border aan de bovenkant */
}

.dropdown summary {
  list-style: none;
  list-style-type: none;
  border-color: black;
  background-color: #ccc;
  color: black;
  height: var(--dropdown-item-height); /* Vaste hoogte voor het dropdown summary */
  width: 100%; /* Knop moet volledige breedte op kleinere schermen hebben */
  display: flex; /* Maak het summary een flex-container */
  align-items: center; /* Verticaal centreren van de inhoud */
  padding-left: 10px; /* Voeg padding toe aan de linkerkant van de tekst */
  border-width: 100px;
}

.dropdown summary:focus {
  outline: none;
  background-color: #ccc; /* Voeg de focusstijl toe */
  color: black; /* Voeg de focusstijl toe */
  border-top: black;
  border-width: 100px;
}

.dropdown ul {
  position: absolute;
  margin: 0;
  padding: 0;
  width: var(--dropdown-width);
  left: 0; /* Aanpassing: dropdown links uitlijnen */
  box-sizing: border-box;
  z-index: 1001; /* Zorg ervoor dat dropdown-content boven de location cards staat */
  background: var(--dropdown-background);
  border-radius: 6px;
  list-style: none;
  top: var(--dropdown-item-height); /* Afstand van het dropdown summary */
}

.dropdown ul li {
  padding: 0;
  margin: 0;
  height: var(--dropdown-item-height); /* Vaste hoogte voor de lijstitems */
}

.dropdown ul li a:link,
.dropdown ul li a:visited {
  display: block; /* Maak links blokken om ze onder elkaar te laten staan */
  padding: 10px 0.8rem;
  width: 100%;
  box-sizing: border-box;
  color: var(--dropdown-color);
  text-decoration: none;
}

.dropdown ul li a:hover {
  background-color: var(--dropdown-highlight);
  color: var(--dropdown-background);
}

/* Dropdown triangle */
.dropdown ul::before {
  content: ' ';
  width: 0;
  height: 0;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--dropdown-background) transparent;
}

/* Close the dropdown with outside clicks */
.dropdown > summary::before {
  display: none;
}

.dropdown[open] > summary::before {
  content: ' ';
  display: block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 998; /* Zorg ervoor dat dropdown boven de logo-header staat */
}

/* Responsive aanpassingen */
@media screen and (max-width: 768px) {
  .doors {
    transform: translateY(-100%); /* Centreren verticaal */
  }
  .dropdown {
      width: 100%; /* Volledige breedte op kleinere schermen */
      top: 2px;
      z-index: 990;

  }

  .dropdown ul {
      width: 100%; /* Volledige breedte op kleinere schermen */
      left: 0; /* Dropdown moet vanaf links beginnen */
      top: auto; /* Geen afstand van boven af */
      margin-top: 10px; /* Ruimte tussen knop en dropdown */
  }

  .dropdown ul::before {
      display: none; /* Verwijder driehoekje op kleinere schermen */
  }

  .dropdown summary {
      width: 100%; /* Knop moet volledige breedte op kleinere schermen hebben */
  }
}

.weatherData-container {
  position: absolute;
  top: 90px; /* Plaats het 100px onder de bovenkant van het scherm */
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
}

.weatherIcon {
  position: relative; /* Absoluut positioneren */
}

.weatherData {
  position: absolute; /* Absoluut positioneren */
  left: 80px; /* Naast weatherIcon */
  top: 50%; /* Verticaal gecentreerd */
  transform: translateY(-50%); /* Correctie om verticaal te centreren */
  color: black;
  font-size: 25px;
}

.logo-header {
  color: white;
  text-align: left;
  justify-items: center;
  padding-left: 20px;
  background-color: #db0a13;
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 1000;
}


@media screen and (min-width: 768px) {
  .modal-content {
    width: 80%;
    margin-bottom: 20px;
  }
  .doors {
    transform: translateY(100%); /* Centreren verticaal */
    width: 60%;
  }
  .buttons {
    bottom: calc(50% + 50px); /* Plaats de knoppen 50px boven het midden van het scherm */
    transform: translateY(500%); /* Centreren verticaal */
  }
  .dropdown {
      width: 100%; /* Volledige breedte op kleinere schermen */
      top: 1px;
  }
}

@media screen and (max-width: 768px) {
  .doors {
    transform: translateY(100%); /* Centreren verticaal */
    max-width: 60%;
  }
  .buttons {
    bottom: calc(50% + 50px); /* Plaats de knoppen 50px boven het midden van het scherm */
    transform: translateY(500%); /* Centreren verticaal */
  }

  body {
    background-size: cover; /* Voor mobiele apparaten, probeer 'contain' in plaats van 'cover' */
    background-repeat: no-repeat; /* Voorkom herhaling van de achtergrond op mobiel */
    background-attachment: fixed;
  }
  
}

.tabbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  background-color: #db0a13;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.tabbar-container {
  padding-bottom: 100px;
}

.tab-button {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.tab-button svg {
  width: 24px;
  height: 24px;
}

.tab-button span {
  font-size: 10px;
  color: white;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-color: black;
  padding-bottom: 100px;
  top: 80px; /* Plaats het 80px onder de bovenkant van het scherm */
}

.doors {
  width: 90%; /* Breedte instellen op 90% van de beschikbare ruimte */
  border-radius: 10px; /* Border-radius instellen zoals bij location-card */
  background-color: #db0a13; /* Achtergrondkleur instellen zoals bij location-card */
  margin: 20px auto; /* Marge instellen op auto om het centraal te positioneren */
  display: flex; /* Flexbox gebruiken voor layout */
  justify-content: space-between; /* Horizontaal verdelen van de inhoud */
  align-items: center; /* Verticaal centreren van de inhoud */
  position: relative; /* Relatieve positionering voor absolute positionering van de buttons */
}

.door {
  background-color: white; /* Pas de achtergrondkleur aan met een alpha-waarde */
  width: 100%;
  height: 110px;
  overflow: hidden;
  border-radius: 5px;
  margin: 5px;
  border-color: #db0a13;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center; /* Centreren van de elementen verticaal */
  font-size: 3rem;
  height: 110px;
  border: 1px solid black;
  border-radius: 5px;
  
}

.box {
  background-color: white;
  display: inline-block;
  text-align: center;
  width: 100%;
  border-radius: 5px;
}


.buttons button {
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  background-color: #db0a13; /* Kleur instellen zoals bij de .location-card button */
}


