.navbar {
    background-color: #FF2D00;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
  }
  
  .navbar ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
  }

/* Stijlen voor de kaartcontainer */
#location-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Stijlen voor de kaart */
.location-card {
  width: calc(33.33% - 20px);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

/* Stijlen voor de inhoud van de locatiekaart */
.location-card-content {
  text-align: center;
}

/* Media query voor responsieve opmaak */
@media screen and (max-width: 768px) {
  #location-card-container {
      flex-direction: column;
      align-items: center;
  }

  .location-card {
      width: 80%; /* Breedte aanpassen voor betere leesbaarheid op mobiele apparaten */
  }
}